* {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
.navbig {
  width: 100%;
  height: 220px;
  background-color: #ecedff;
  display: block;
}
.navstick {
  position: fixed;
  top: 0;
  z-index: 3;
}

.navbox {
  width: 75%;
  margin: 0 auto;
  padding-top: 20px;
}
.navboxAdd {
  display: flex;
  justify-content: space-between;
}
.navbig figure {
  width: 100px;
  margin: 0 auto;
}
.navbig figure img {
  width: 100%;
}
.nav-content {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 1rem;
}
.navbig li {
  margin: 0 30px;
}
.nav-content :first-child {
  margin-left: 0px;
}
.nav-content :last-child {
  margin-right: 0;
}
.navbig a {
  position: relative;
  color: black;
}
.navbig a:before {
  content: "";
  width: 0%;
  height: 4px;
  position: absolute;
  top: 30px;
  left: 50%;
  background-color: #8da7e5;
  transition: width 0.5s;
  transform: translate(-50%);
}
.navbig a:hover {
  text-decoration: none;
  color: black;
}
.navbig a:hover:before {
  content: "";
  width: 100%;
}

.navsmall {
  width: 100%;
  height: 80px;
  padding: 15px 0;
  background-color: white;
  box-shadow: 0 1px 10px rgb(0 0 0 / 50%);
  display: none;
  z-index: 30;
}
.navbox2 {
  width: 100%;
  margin: 0 auto;
}
.navbox2 figure {
  width: 70px;
  margin: 0 auto;
}
.navbox2 figure img {
  width: 100%;
}
.burgerline {
  width: 30px;
  height: 1px;
  background-color: black;
  margin: 8px 0;
}
.burgerbutton {
  position: fixed;
  top: 20px;
  right: 20px;
}

.navlist {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0);
  padding: 20px 0;
  position: absolute;
  top: 0px;
  z-index: 2;
  display: none;
}
.list-burgerbutton {
  position: fixed;
  top: 38px;
  right: 20px;
}
.list-btn {
  width: 30px;
  height: 1px;
  background-color: white;
  margin: 0;
}
.line1 {
  transform: translateX(-50%) translateY(-50%);
  transition: 1s;
}
.line2 {
  transform: translateX(-50%) translateY(-50%);
  transition: 1s;
}
.navlist hr {
  width: 75%;
  height: 0.5px;
  background-color: white;
  margin: 10px auto;
}
.navlist figure {
  width: 70px;
  margin: 0 auto;
}
.navlist figure img {
  width: 100%;
}
.nav-content-2 {
  text-align: center;
  padding: 0;
  background-color: black;
}
.nav-content-2 li {
  margin: 50px auto;
  font-size: 22px;
  font-weight: 500;
}
.nav-content-2 li a {
  color: white;
}

/* 首頁 */

section {
  background-color: #ecedff;
  padding: 100px 0;
}
.statellite {
  width: 250px;
  position: fixed;
  top: 300px;
  z-index: 1;
}
.sectionA-contain {
  padding-bottom: 20px;
}
.mag {
  font-size: 58pt;
  line-height: 60px;
  font-weight: 500;
}
.porfolio {
  font-size: 32pt;
  font-weight: 400;
}
.sectionA-contain p {
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 5px;
  line-height: 35px;
  padding: 20px 0;
}
.index-sectionB {
  text-align: center;
}
.index-title {
  font-size: 32pt;
  font-weight: 100;
  letter-spacing: 80px;
  text-indent: 80px;
  text-align: center;
}
.bron-year {
  margin: 40px 0;
}
.bron-year span {
  font-size: 22pt;
  font-weight: 100;
  color: black;
  margin: 0 80px;
}
.bron-1988 {
  font-size: 40pt;
  color: #a278b9;
  text-indent: -30px;
}
.time-line-group {
  display: flex;
  flex-wrap: wrap;
}
.timeboxBig {
  width: 444px;
}
.timebox-up {
  width: 100%;
  border-bottom: 8px solid #dcc9e5;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.year {
  width: 60px;
  height: 30px;
  background-color: #a278b9;
  color: white;
  font-weight: 500;
  text-align: center;
  padding-top: 4px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}
.year::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 4.5px 0 4.5px;
  border-color: #a278b9 transparent transparent transparent;
  position: absolute;
  bottom: -11px;
  left: 26px;
}
.timebox-dowm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #a278b9;
  font-weight: 500;
  margin-top: 10px;
}
.timeboxSmall {
  width: 222px;
}
.skillrow {
  justify-content: space-between;
}
.skill-circle-back {
  width: 153px;
  height: 153px;
  border: 13px solid #ecedff;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px rgba(201, 141, 229, 0.45));
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.55);
}
.skill svg {
  position: absolute;
  top: -4px;
  left: -4px;
  transform: rotate(-90deg);
}
.skill-circle {
  stroke: #a278b9;
  fill: none;
  stroke-width: 5px;
  stroke-dasharray: 332 640;
  animation: circle-draw 1s;
}
@keyframes circle-draw {
  0% {
    stroke-dasharray: 0 640;
  }
  100% {
    stroke-dasharray: 332 640;
  }
}
.skill {
  position: relative;
  color: #a278b9;
  margin: 50px 10px;
}
.skill span {
  font-size: 40pt;
  font-weight: 800;
  position: absolute;
  left: 53px;
  top: 41px;
}
.skill h5 {
  text-align: center;
  margin: 10px;
  font-size: 18pt;
}

/* footer */
.footer {
  width: 100%;
  height: 200px;
  background-color: black;
}
.footerbox {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.footer-left figure {
  width: auto;
  height: 90px;
  color: white;
}
.footer-left figure img {
  height: 100%;
}
.footer-left span {
  font-size: 16pt;
  margin: 0 30px;
}
.footer-right {
  color: white;
}
.contact {
  width: 100px;
  height: 25px;
  background-color: #a278b9;
  text-align: center;
  margin-bottom: 20px;
}
/* .about-btn {
  width: 210px;
  padding: 16px 0;
  border-radius: 5px;
  background-color: #ecedff;
  box-shadow: 5px 5px 5px rgba(201, 141, 229, 0.45),
    -5px -5px 5px rgba(255, 255, 255, 0.75);
  text-align: center;
  color: #a278b9;
} */

@media screen and (max-width: 1280px) {
  .navbig {
    display: none;
  }
  .navsmall {
    display: block;
    position: fixed;
    top: 0;
  }
}
@media screen and (max-width: 990px) {
  .index-sectionA .row {
    flex-direction: column-reverse;
  }
  /* .sectionA-contain {
    order: -1;
  } */
}
